<template name="courseForm">
<form class="form-horizontal">
  <div class="form-group">
    <label for="name" class="col-sm-2 control-label">Course Name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="name" placeholder="Enter course name.">
    </div>
  </div>
  <div class="form-group">
    <label for="subject" class="col-sm-2 control-label">Subject</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="subject" placeholder="Enter course subject.">
    </div>
  </div>
  <div class="form-group">
    <label for="workload" class="col-sm-2 control-label">Course Workload</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="workload" placeholder="Enter course workload in hours.">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Submit</button>
    </div>
  </div>
</form>
</template>